*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

#gameScreen {
    /* display: none; */
	position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-width: 100%; 
}

.load-images{
    display: none;
}

#start-screen{
    display: block;
}